.depoimentos-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.depoimentos-container .article .header .p {
  font-size: 16px;
  line-height: 28px;
}

.depoimentos-container footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
  align-items: center;
}

.depoimentos-container footer img {
  width: 86px;
  height: 86px;
}

.depoimentos-container footer .profile-content h3 {
  font-size: 19px;
  line-height: 32px;
  font-weight: var(--title-weight);
  margin: 0;
}

.depoimentos-container footer .profile-content .rating .star {
  font-size: 32px;
  color: var(--secundary-color);
  line-height: 32px;
}
@media screen and (min-width: 1440px) {
  .depoimentos-container {
    flex-direction: row;
    gap: 32px;
  }
}
