header {
  background-color: var(--background-tentiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navigation-menu {
  margin-left: auto;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tentiary-color);
}

nav {
  display: none;
}

.list-links{
  list-style: none;
}
.list-links li {
  margin: 16px 0;
}
.list-links li a {
  color: var(--text-secundary-color);
  text-decoration: none;
}
