header {
  background-color: var(--background-tentiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.img-mobile {
  display: block;
}

.img-desktop {
  display: none;
}

.navigation-menu {
  margin-left: auto;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tentiary-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
}
.list-links li {
  margin: 16px 0;
}
.list-links li a {
  color: var(--text-secundary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
  }
  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }
  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 467px;
  }
  .navigation-menu li {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 38px 125px;
  }
  .logo {
    width: 260px ;
    height: 64px;
  }
  .img-desktop {
    display: block;
  }
  .img-mobile {
    display: none;
  }
  .navigation-menu li a:hover {
    color: var(--primary-color);
  }
}
@media screen and (min-width: 1920px) {
  .header {
    padding: 38px 160px;
  }
}
