.hero .hero-img,
.hero2 .hero2-img {
  height: 400px;
  width: 100%;
  background-size: cover;
}

.hero2 {
  width: 100%;
  margin: 0;
}

.hero3 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero3 .hero3-img {
  height: 400px; /* Altura para mobile */
  width: 100%;
  background: url(../img/pack-hero-mob.png) no-repeat center;
  background-size: cover;
  display: block;
}

.hero-img-pack {
  height: 400px;
  width: 100%;
  background-size: cover;
  width: 100%;
  margin: 0;
}

.hero .hero-img-pack {
  background: url(../img/heroImagePack.jpg) no-repeat;
  background-size: cover;
}
.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero2 .hero2-img {
  background: url(../img/heroFooter-cel.png) no-repeat;
  background-size: cover;
}

.hero3 .hero3-img {
  background: url(../img/pack-hero-mob.png) no-repeat;
  background-size: cover;
}
.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

/* PACOTES DE VIAGENS */
.travel-packages {
  margin-bottom: 80px;
}
.travel-packages {
  width: 100%;
  margin: 0;
}

.travel-packages .hero-img {
  height: 480px;
  background: url(../img/heroImagePack.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

.travel-packages .hero-content {
  padding: 0 24px;
  max-width: 500px;
}

.travel-packages .hero-content h1 {
  font-size: 40px;
  color: var(--text-secundary-color); /* branco */
  font-weight: var(--title-weight);
}

.travel-packages .hero-content p {
  font-size: 20px;
  color: var(--text-secundary-color); /* branco */
  line-height: 32px;
}

.travel-packages .hero-content hr {
  width: 180px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px 0 32px;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    width: 100%;
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .hero2 .hero2-img {
    height: 400px;
    background: url(../img/herofooter-tab.png) no-repeat;
    background-size: cover;
  }
  .hero .hero2-img {
    height: 400px;
    background: url(../img/herofooter-tab.png) no-repeat;
    background-size: cover;
  }

  .hero3 .hero3-img {
    height: 400px;
    background: url(../img/pack-hero-tab.png) no-repeat;
    background-size: cover;
  }

  .travel-packages .hero-img {
    height: 400px;
    background: url(../img/heroImagePack.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
  }
}

@media screen and (min-width: 1440px) {
  .hero .hero-img {
    width: 100%;
    background: url(../img/hero-desktop.png) no-repeat;
    background-size: cover;
  }
  .hero2 .hero2-img {
    height: 600px;
    background: url(../img/herofooter-desk.png) no-repeat;
    background-size: cover;
  }

  .hero3 .hero3-img {
    height: 600px;
    background: url(../img/pack-hero-desk.png) no-repeat;
    background-size: cover;
  }
  .travel-packages .hero-img {
    height: 600px;
    background: url(../img/heroImagePack.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}
@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
